/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [master]
GO
/****** Object:  Database [MovieDB]    Script Date: 12/5/2017 3:34:27 PM ******/
CREATE DATABASE [MovieDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\MovieDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\MovieDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieDB]
GO
USE [MovieDB]
GO
/****** Object:  Table [dbo].[ACTOR]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTOR](
	[actor_id] [int] IDENTITY(1,1) NOT NULL,
	[actor_fname] [varchar](50) NOT NULL,
	[actor_lname] [varchar](50) NOT NULL,
 CONSTRAINT [actor_pk] PRIMARY KEY CLUSTERED 
(
	[actor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMINS]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINS](
	[admin_code] [int] IDENTITY(1,1) NOT NULL,
	[admin_username] [varchar](50) NOT NULL,
	[admin_password] [varchar](50) NOT NULL,
	[admin_fname] [varchar](50) NOT NULL,
	[admin_lname] [varchar](50) NOT NULL,
	[admin_email] [varchar](75) NOT NULL,
 CONSTRAINT [admins_pk] PRIMARY KEY CLUSTERED 
(
	[admin_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[mov_id] [int] NOT NULL,
	[genre_id] [int] NOT NULL,
 CONSTRAINT [categories_pk] PRIMARY KEY CLUSTERED 
(
	[mov_id] ASC,
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHARACTERS]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHARACTERS](
	[act_id] [int] NOT NULL,
	[mov_id] [int] NOT NULL,
	[charcter_played] [varchar](75) NULL,
 CONSTRAINT [characters_pk] PRIMARY KEY CLUSTERED 
(
	[act_id] ASC,
	[mov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECTOR]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECTOR](
	[dir_id] [int] IDENTITY(1,1) NOT NULL,
	[dir_fname] [varchar](50) NULL,
	[dir_lname] [varchar](50) NULL,
 CONSTRAINT [dir_pk] PRIMARY KEY CLUSTERED 
(
	[dir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE](
	[genre_id] [int] IDENTITY(1,1) NOT NULL,
	[genre_type] [varchar](25) NOT NULL,
 CONSTRAINT [genre_pk] PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE](
	[movie_id] [int] IDENTITY(1,1) NOT NULL,
	[movie_title] [varchar](75) NOT NULL,
	[movie_runlength] [int] NOT NULL,
	[movie_releaseYear] [date] NOT NULL,
	[movie_dir_id] [int] NOT NULL,
	[movie_rating] [varchar](5) NULL,
 CONSTRAINT [movie_pk] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCER]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCER](
	[producer_id] [int] IDENTITY(1,1) NOT NULL,
	[producer_fname] [varchar](50) NOT NULL,
	[producer_lname] [varchar](50) NOT NULL,
 CONSTRAINT [producer_pk] PRIMARY KEY CLUSTERED 
(
	[producer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCES]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCES](
	[mov_id] [int] NOT NULL,
	[prod_id] [int] NOT NULL,
	[title] [varchar](50) NOT NULL,
 CONSTRAINT [produces_pk] PRIMARY KEY CLUSTERED 
(
	[mov_id] ASC,
	[prod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATINGS]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATINGS](
	[u_id] [int] NOT NULL,
	[m_id] [int] NOT NULL,
	[rating] [int] NULL,
 CONSTRAINT [rating_pk] PRIMARY KEY CLUSTERED 
(
	[u_id] ASC,
	[m_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/5/2017 3:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[user_code] [int] IDENTITY(1,1) NOT NULL,
	[user_username] [varchar](50) NOT NULL,
	[user_password] [varchar](50) NOT NULL,
	[user_fname] [varchar](50) NOT NULL,
	[user_lname] [varchar](50) NOT NULL,
	[user_email] [varchar](75) NOT NULL,
	[user_DOB] [date] NOT NULL,
 CONSTRAINT [users_pk] PRIMARY KEY CLUSTERED 
(
	[user_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACTOR] ON 
GO
INSERT [dbo].[ACTOR] ([actor_id], [actor_fname], [actor_lname]) VALUES (1, N'Harrison', N'Ford')
GO
INSERT [dbo].[ACTOR] ([actor_id], [actor_fname], [actor_lname]) VALUES (2, N'Rutger', N'Hauer')
GO
INSERT [dbo].[ACTOR] ([actor_id], [actor_fname], [actor_lname]) VALUES (3, N'Sean', N'Young')
GO
SET IDENTITY_INSERT [dbo].[ACTOR] OFF
GO
SET IDENTITY_INSERT [dbo].[ADMINS] ON 
GO
INSERT [dbo].[ADMINS] ([admin_code], [admin_username], [admin_password], [admin_fname], [admin_lname], [admin_email]) VALUES (1, N'V-GINY', N'DeathSphere12', N'Matt', N'Groening', N'easteregg@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[ADMINS] OFF
GO
INSERT [dbo].[CATEGORIES] ([mov_id], [genre_id]) VALUES (1, 1)
GO
INSERT [dbo].[CATEGORIES] ([mov_id], [genre_id]) VALUES (1, 6)
GO
INSERT [dbo].[CATEGORIES] ([mov_id], [genre_id]) VALUES (2, 2)
GO
INSERT [dbo].[CHARACTERS] ([act_id], [mov_id], [charcter_played]) VALUES (1, 1, N'Rick Deckard')
GO
INSERT [dbo].[CHARACTERS] ([act_id], [mov_id], [charcter_played]) VALUES (2, 1, N'Roy Batty')
GO
INSERT [dbo].[CHARACTERS] ([act_id], [mov_id], [charcter_played]) VALUES (3, 1, N'Rachel')
GO
SET IDENTITY_INSERT [dbo].[DIRECTOR] ON 
GO
INSERT [dbo].[DIRECTOR] ([dir_id], [dir_fname], [dir_lname]) VALUES (1, N'Ridley', N'Scott')
GO
SET IDENTITY_INSERT [dbo].[DIRECTOR] OFF
GO
SET IDENTITY_INSERT [dbo].[GENRE] ON 
GO
INSERT [dbo].[GENRE] ([genre_id], [genre_type]) VALUES (1, N'SCI-FI')
GO
INSERT [dbo].[GENRE] ([genre_id], [genre_type]) VALUES (2, N'DRAMA')
GO
INSERT [dbo].[GENRE] ([genre_id], [genre_type]) VALUES (3, N'WAR')
GO
SET IDENTITY_INSERT [dbo].[GENRE] OFF
GO
SET IDENTITY_INSERT [dbo].[MOVIE] ON 
GO
INSERT [dbo].[MOVIE] ([movie_id], [movie_title], [movie_runlength], [movie_releaseYear], [movie_dir_id], [movie_rating]) VALUES (1, N'Blade Runner', 117, CAST(N'1982-06-25' AS Date), 1, N'R')
GO
INSERT [dbo].[MOVIE] ([movie_id], [movie_title], [movie_runlength], [movie_releaseYear], [movie_dir_id], [movie_rating]) VALUES (2, N'Gladiator', 155, CAST(N'2000-05-05' AS Date), 1, N'R')
GO
INSERT [dbo].[MOVIE] ([movie_id], [movie_title], [movie_runlength], [movie_releaseYear], [movie_dir_id], [movie_rating]) VALUES (3, N'Black Hawk Down', 144, CAST(N'2002-01-18' AS Date), 1, N'R')
GO
SET IDENTITY_INSERT [dbo].[MOVIE] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCER] ON 
GO
INSERT [dbo].[PRODUCER] ([producer_id], [producer_fname], [producer_lname]) VALUES (1, N'Ridley', N'Scott')
GO
SET IDENTITY_INSERT [dbo].[PRODUCER] OFF
GO
INSERT [dbo].[PRODUCES] ([mov_id], [prod_id], [title]) VALUES (1, 1, N'coproducer - uncredited')
GO
INSERT [dbo].[PRODUCES] ([mov_id], [prod_id], [title]) VALUES (2, 1, N'executive producer - uncredited')
GO
INSERT [dbo].[PRODUCES] ([mov_id], [prod_id], [title]) VALUES (3, 1, N'producer')
GO
INSERT [dbo].[RATINGS] ([u_id], [m_id], [rating]) VALUES (1, 1, 4)
GO
INSERT [dbo].[RATINGS] ([u_id], [m_id], [rating]) VALUES (1, 2, 3)
GO
INSERT [dbo].[RATINGS] ([u_id], [m_id], [rating]) VALUES (1, 3, 2)
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 
GO
INSERT [dbo].[USERS] ([user_code], [user_username], [user_password], [user_fname], [user_lname], [user_email], [user_DOB]) VALUES (1, N'hoppyr123', N'fir3w00dS', N'Robert', N'Hopkins', N'rhopkins070@gmail.com', CAST(N'1981-08-25' AS Date))
GO
INSERT [dbo].[USERS] ([user_code], [user_username], [user_password], [user_fname], [user_lname], [user_email], [user_DOB]) VALUES (2, N'caboose4', N'IhateBabies3', N'Michael', N'Caboose', N'dumbASrocks@yahoo.com', CAST(N'1999-06-28' AS Date))
GO
INSERT [dbo].[USERS] ([user_code], [user_username], [user_password], [user_fname], [user_lname], [user_email], [user_DOB]) VALUES (3, N'spookyGhost', N'IsayBoo9', N'Casper', N'theFriendlvGhost', N'randomEmail@aol.com', CAST(N'1995-04-17' AS Date))
GO
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ADMINS__0CEDD55F283342E3]    Script Date: 12/5/2017 3:34:28 PM ******/
ALTER TABLE [dbo].[ADMINS] ADD UNIQUE NONCLUSTERED 
(
	[admin_username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ADMINS__1550A2DCBC02C3F4]    Script Date: 12/5/2017 3:34:28 PM ******/
ALTER TABLE [dbo].[ADMINS] ADD UNIQUE NONCLUSTERED 
(
	[admin_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__DIRECTOR__D886CF4DB8EF02EB]    Script Date: 12/5/2017 3:34:28 PM ******/
ALTER TABLE [dbo].[DIRECTOR] ADD UNIQUE NONCLUSTERED 
(
	[dir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__GENRE__18428D439C7F4DF7]    Script Date: 12/5/2017 3:34:28 PM ******/
ALTER TABLE [dbo].[GENRE] ADD UNIQUE NONCLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MOVIE__83CDF7489110BEA4]    Script Date: 12/5/2017 3:34:28 PM ******/
ALTER TABLE [dbo].[MOVIE] ADD UNIQUE NONCLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USERS__EDC4140F34D7006B]    Script Date: 12/5/2017 3:34:28 PM ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[user_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORIES]  WITH CHECK ADD  CONSTRAINT [cat_genre_fk] FOREIGN KEY([genre_id])
REFERENCES [dbo].[GENRE] ([genre_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CATEGORIES] CHECK CONSTRAINT [cat_genre_fk]
GO
ALTER TABLE [dbo].[CATEGORIES]  WITH CHECK ADD  CONSTRAINT [cat_mov_fk] FOREIGN KEY([mov_id])
REFERENCES [dbo].[MOVIE] ([movie_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CATEGORIES] CHECK CONSTRAINT [cat_mov_fk]
GO
ALTER TABLE [dbo].[CHARACTERS]  WITH CHECK ADD  CONSTRAINT [act_id_fk] FOREIGN KEY([act_id])
REFERENCES [dbo].[ACTOR] ([actor_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHARACTERS] CHECK CONSTRAINT [act_id_fk]
GO
ALTER TABLE [dbo].[CHARACTERS]  WITH CHECK ADD  CONSTRAINT [mov_id_fk] FOREIGN KEY([mov_id])
REFERENCES [dbo].[MOVIE] ([movie_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHARACTERS] CHECK CONSTRAINT [mov_id_fk]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [movie_fk] FOREIGN KEY([movie_dir_id])
REFERENCES [dbo].[DIRECTOR] ([dir_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [movie_fk]
GO
ALTER TABLE [dbo].[PRODUCES]  WITH CHECK ADD  CONSTRAINT [pro_mov_fk] FOREIGN KEY([mov_id])
REFERENCES [dbo].[MOVIE] ([movie_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCES] CHECK CONSTRAINT [pro_mov_fk]
GO
ALTER TABLE [dbo].[PRODUCES]  WITH CHECK ADD  CONSTRAINT [prod_fk] FOREIGN KEY([prod_id])
REFERENCES [dbo].[PRODUCER] ([producer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCES] CHECK CONSTRAINT [prod_fk]
GO
ALTER TABLE [dbo].[RATINGS]  WITH CHECK ADD  CONSTRAINT [ratings_movie_id_fk] FOREIGN KEY([m_id])
REFERENCES [dbo].[MOVIE] ([movie_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RATINGS] CHECK CONSTRAINT [ratings_movie_id_fk]
GO
ALTER TABLE [dbo].[RATINGS]  WITH CHECK ADD  CONSTRAINT [ratings_user_id_fk] FOREIGN KEY([u_id])
REFERENCES [dbo].[USERS] ([user_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RATINGS] CHECK CONSTRAINT [ratings_user_id_fk]
GO
ALTER TABLE [dbo].[RATINGS]  WITH CHECK ADD  CONSTRAINT [rating_ck] CHECK  (([rating]>=(1) AND [rating]<=(4)))
GO
ALTER TABLE [dbo].[RATINGS] CHECK CONSTRAINT [rating_ck]
GO
USE [master]
GO
